astroid==2.4.2
attrs==20.3.0
autopep8==1.5.6
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
decorator==4.4.2
funcparserlib==0.3.6
hypothesis==6.8.9
idna==2.10
isort==4.3.21
Jinja2==2.11.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
networkx==2.5.1
pycodestyle==2.7.0
Pygments==2.8.1
pylint==2.5.3
python-ta==1.6.3
requests==2.25.1
six==1.15.0
sortedcontainers==2.3.0
toml==0.10.2
typeguard==2.12.0
urllib3==1.26.4
wrapt==1.12.1

fileinput
alive-progress
